.App .calculator-container {
    width: 100%;
    height: 100%;
}

.input-container {
    display: flex;
    margin: 0 auto;
}

.calculator-container .input-container-left {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.calculator-container .input-container-right {
    width: 25%;
}