.button {
    height: 16.67vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.button-wide {
    width: 100%;
}

.button-normal {
    width: 32.9%
}

.NumberButton {
    font-size: 3rem;
    font-weight: 900;
}

.ActionButton {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    background: darkred;
}